@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Firefox */
* {
    scrollbar-width:2px;
    scrollbar-color: yellow;
  }
/*   
  html{
 
  } */

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: #c7cacc80;
    border-radius: 2px;
    width: 2px;
  }
  
  *::-webkit-scrollbar-thumb {
    /* background-color: red; */
    background: #aab4bb80;
    width: 2px;
    /* height: 2px; */
    border-radius: 14px;
    border: 1px solid #aab4bb80;
  }
  
  .hide_scrollbar::-webkit-scrollbar {
    display: none;
  }
  .react-datepicker__input-container input{
    width: 5rem;
  }
  .react-datepicker__input-container input:focus{
    outline: none;
  }
  .policy_proposal_to_date .react-datepicker-popper{
    left: -5rem !important;
  }
  .policy_proposal_to_date .react-datepicker-popper svg{
    left: 171px !important;
  }
  .disable-scroll {
    overflow: hidden;
  }
@layer base {
    html {
      font-family: 'Manrope', sans-serif;
        line-height: 1.3;
    }
    table {
    }
    th,
    td {
        @apply p-3 px-2.5 text-sm text-left border-y border-gray-200;
    }
    thead {
        @apply bg-neutral-100;
    }
    a {
        @apply text-sky-500 hover:no-underline;
    }
}
.text-sm {
  font-size: .84rem;
  letter-spacing: .025rem;
}